.records-view {
  display: block;
  height: 100%;
}

.records-view vaadin-grid {
  height: 100%;
  line-height: var(--lumo-line-height-m);
}

.records-view vaadin-grid,
.records-view vaadin-grid-cell-content {
  background-color: var(--lumo-contrast-10pct);
}

.records-view .card {
  background-color: var(--lumo-base-color);
  border-radius: var(--lumo-border-radius);
  box-shadow: var(--lumo-box-shadow-xs);
  padding: calc(var(--lumo-space-s) * 1.5) var(--lumo-space-m);
}

.records-view .header {
  align-items: baseline;
}

.records-view .name {
  font-size: var(--lumo-font-size-s);
  font-weight: bold;
  margin-right: var(--lumo-space-s);
  vertical-align: center;
}
